@import "tailwindcss";


.dashboard {
  position:relative;
  left: 900px;
  top: 10px;
  align-items: right;
  font-size: 2em;
  width: 40%;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
  color: #bebaba;
  background-color: #353535;
}
.progress-status {
  width: 100%;
  height: 400px;
  background-color: #d2fad4;
  border-radius: 5px;
  border: #000000 solid 1px;
}